@font-face {
  font-family: 'KiwiMaru';
  src: url('fonts/KiwiMaru-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kawamoji-main';
  src: url('fonts/SlacksideOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kawamoji-sub';
  src: url('fonts/HachiMaruPop-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'KiwiMaru', 'Kawamoji-main', 'Kawamoji-sub', sans-serif;
}

code {
  font-family: 'KiwiMaru', 'Kawamoji-main', 'Kawamoji-sub', sans-serif;
  border-bottom: 2px solid #a260bf;
  background-color: #d9d9d9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  border-bottom: 2px solid #a260bf;
}

img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title-logo {
  width: auto;
  height: 100px;
  vertical-align: middle;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.purple-line {
  width: 100%;
  height: 15px;
  background: radial-gradient(circle, #a260bf 0%, rgba(162, 96, 191, 0)70%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #6d3286;
  border-color: #6d3286;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #a260bf;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.scroll-button-top {
  bottom: 70px;
}

.scroll-button:hover {
  background-color: #6d3286;
}

.top-button {
  display: block;
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #a260bf;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  z-index: 999;
}

.top-button:hover {
  background-color: #6d3286;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, #a260bf 0%, rgba(162, 96, 191, 0) 70%);
  z-index: -1;
}

#external-links {
  background-color: #f4f4f4;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  font-family: 'KiwiMaru', 'Kawamoji-main', 'Kawamoji-sub', sans-serif;
}

#external-links h2 {
  font-size: 18px;
  font-family: 'KiwiMaru', 'Kawamoji-main', 'Kawamoji-sub', sans-serif;
}

#external-links ul {
  list-style-type: none;
  padding: 0;
}

#external-links li {
  margin-bottom: 10px;
}

#external-links a {
  text-decoration: none;
  color: #333;
}

#external-links a:hover {
  text-decoration: underline;
  color: #6d3286;
  border-color: #6d3286;
}

#copyright {
  text-align: center;
  margin-top: 20px;
  font-family: 'KiwiMaru', 'Kawamoji-main', 'Kawamoji-sub', sans-serif;
}

#secretButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.menu-button {
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.menu-icon {
  width: auto;
  height: 24px;
  vertical-align: middle;
}

.page-list {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #ccc;
  color: #000;
  transition: left 0.3s ease;
}

.page-list ul {
  list-style: none;
  padding: 15px;
}

.page-list ul li {
  margin: 10px 0;
  line-height: 1.5;
}

.page-list ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.page-list ul li a:hover {
  color: #6d3286;
  border-color: #6d3286;
}

.terms-privacy-policy {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif !important;
  background-color: #dedede;
  padding: 20px;
}

.terms-privacy-policy h1 {
  text-align: center;
  font-family: sans-serif !important;
}

.terms-privacy-policy li {
  font-family: sans-serif !important;
}

.terms-privacy-policy a {
  color: #a260bf;
  border-color: #a260bf;
  font-family: sans-serif !important;
}

.terms-privacy-policy a:hover {
  color: #6d3286;
  border-color: #6d3286;
  font-family: sans-serif !important;
}
